In [1]:
import pandas as pd
import numpy as np

In [2]:
nba=pd.read_csv(r"C:\Users\Preeti\Desktop\Preeti\Christ\Excel files (python)\nba.csv")
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
nba.dropna()

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
585,Eugene Omoruyi,Washington Wizards,F,6-6,235.0,Oregon,559782.0
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [5]:
nba.dropna(how="all") # all rows with na value

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [6]:
nba.dropna(subset="Salary")

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
585,Eugene Omoruyi,Washington Wizards,F,6-6,235.0,Oregon,559782.0
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [7]:
nba.dropna(subset=["College","Salary"])

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
585,Eugene Omoruyi,Washington Wizards,F,6-6,235.0,Oregon,559782.0
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [8]:
nba.Salary=nba.Salary.fillna(0)

In [9]:
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [10]:
nba.College=nba.College.fillna("Unknown")

In [11]:
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,Unknown,0.0

In [15]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      591 non-null    object
 1   Team      591 non-null    object
 2   Position  584 non-null    object
 3   Height    585 non-null    object
 4   Weight    584 non-null    float64
 5   College   592 non-null    object
 6   Salary    592 non-null    float64
dtypes: float64(2), object(5)
memory usage: 32.5+ KB

In [20]:
nba.describe()   # math operations

           Weight        Salary
count  584.000000  5.920000e+02
mean   214.763699  7.599428e+06
std     23.460612  1.085853e+07
min    160.000000  0.000000e+00
25%    198.000000  5.597820e+05
50%    215.000000  2.774337e+06
75%    230.000000  9.525000e+06
max    290.000000  5.191562e+07

In [21]:
nba.loc[:,["Name","Position","Salary"]].head()  # filtering

                Name Position      Salary
0         Saddiq Bey        F   4556983.0
1  Bogdan Bogdanovic        G  18700000.0
2        Kobe Bufkin        G   4094244.0
3       Clint Capela        C  20616000.0
4     Bruno Fernando      F-C   2581522.0

In [22]:
nba.loc[nba["Position"]=="F"].head()

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
6,AJ Griffin,Atlanta Hawks,F,6-6,220.0,Duke,3712920.0
7,Mouhamed Gueye,Atlanta Hawks,F,6-11,210.0,Washington State,1119563.0
9,Jalen Johnson,Atlanta Hawks,F,6-8,219.0,Duke,2925360.0
18,Dalano Banton,Boston Celtics,F,6-7,204.0,Nebraska,2019706.0

In [23]:
nba.loc[nba["Team"]=="Atlanta Hawks"]

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
5,Trent Forrest,Atlanta Hawks,G,6-4,210.0,Florida State,508891.0
6,AJ Griffin,Atlanta Hawks,F,6-6,220.0,Duke,3712920.0
7,Mouhamed Gueye,Atlanta Hawks,F,6-11,210.0,Washington State,1119563.0
8,De'Andre Hunter,Atlanta Hawks,F-G,6-8,221.0,Virginia,20089286.0
9,Jalen Johnson,Atlanta Hawks,F,6-8,219.0,Duke,2925360.0
10,Seth Lundy,Atlanta Hawks,G,6-6,220.0,Penn State,559782.0
11,Garrison Mathews,Atlanta Hawks,G,6-6,215.0,Lipscomb,2000000.0
12,Wesley Matthews,Atlanta Hawks,G,6-5,220.0,Marquette,3196448.0
13,Patty Mills,Atlanta Hawks,G,6-0,180.0,St. Mary's,6802950.0
14,Dejounte Murray,Atlanta Hawks,G,6-5,180.0,Washington,18214000.0
15,Miles Norris,Atlanta Hawks,NaN,NaN,NaN,Unknown,559782.0
16,Onyeka Okongwu,Atlanta Hawks,F-C,6-9,240.0,Southern California,8109063.0
17,Trae Young,Atlanta Hawks,G,6-1,164.0,Oklahoma,40064220.0

In [31]:
nba["salaryin"]=nba["Salary"]*1.05

In [32]:
nba["salaryin"]

0       4784832.15
1      19635000.00
2       4298956.20
3      21646800.00
4       2710598.10
          ...
587     1805857.20
588    10762500.00
589           0.00
590     8604878.10
591           0.00
Name: salaryin, Length: 592, dtype: float64

In [34]:
nba["Salary_in"]=nba["Salary"]*1.05
nba     # now the change is in the whole file

,Name,Team,Position,Height,Weight,College,Salary,salaryin,Salary_in
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,4784832.15,4784832.15
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,19635000.00,19635000.00
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,4298956.20,4298956.20
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,21646800.00,21646800.00
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,2710598.10,2710598.10
...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,1805857.20,1805857.20
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,10762500.00,10762500.00
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0.0,0.00,0.00
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,8604878.10,8604878.10
591,NaN,NaN,NaN,NaN,NaN,Unknown,0.0,0.00,0.00

In [35]:
nba

,Name,Team,Position,Height,Weight,College,Salary,salaryin,Salary_in
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,4784832.15,4784832.15
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,19635000.00,19635000.00
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,4298956.20,4298956.20
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,21646800.00,21646800.00
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,2710598.10,2710598.10
...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,1805857.20,1805857.20
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,10762500.00,10762500.00
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0.0,0.00,0.00
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,8604878.10,8604878.10
591,NaN,NaN,NaN,NaN,NaN,Unknown,0.0,0.00,0.00

In [42]:
# dataframe

In [43]:
data={"Fruits":["Apple","Banana","Grapes","Orange"],"kgs":[1,3,4,7],"Condition":["Good","Bad","Bad","Good"]}

In [44]:
df=pd.DataFrame(data)

In [45]:
df

   Fruits  kgs Condition
0   Apple    1      Good
1  Banana    3       Bad
2  Grapes    4       Bad
3  Orange    7      Good

In [46]:
df.loc[df["Condition"]=="Bad"]

   Fruits  kgs Condition
1  Banana    3       Bad
2  Grapes    4       Bad

In [47]:
df.loc[df["Condition"]=="Good"]

   Fruits  kgs Condition
0   Apple    1      Good
3  Orange    7      Good

In [52]:
df

   Fruits  kgs Condition
0   Apple    1      Good
1  Banana    3       Bad
2  Grapes    4       Bad
3  Orange    7      Good

In [54]:
nba

,Name,Team,Position,Height,Weight,College,Salary,salaryin,Salary_in
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,4784832.15,4784832.15
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,19635000.00,19635000.00
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,4298956.20,4298956.20
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,21646800.00,21646800.00
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,2710598.10,2710598.10
...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,1805857.20,1805857.20
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,10762500.00,10762500.00
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0.0,0.00,0.00
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,8604878.10,8604878.10
591,NaN,NaN,NaN,NaN,NaN,Unknown,0.0,0.00,0.00

In [62]:
nba=nba.dropna(subset="Name")  # this way there is change in the actual data

In [61]:
nba

,Name,Team,Position,Height,Weight,College,Salary,salaryin,Salary_in
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,4784832.15,4784832.15
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,19635000.00,19635000.00
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,4298956.20,4298956.20
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,21646800.00,21646800.00
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,2710598.10,2710598.10
...,...,...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0,29353124.85,29353124.85
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,1805857.20,1805857.20
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,10762500.00,10762500.00
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0.0,0.00,0.00
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,8604878.10,8604878.10

In [64]:
# conditional &
nba[(nba["Weight"]<300)& (nba["Weight"]>250)]

,Name,Team,Position,Height,Weight,College,Salary,salaryin,Salary_in
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,21646800.00,21646800.00
45,Day'Ron Sharpe,Brooklyn Nets,C,6-9,265.0,North Carolina,2210040.0,2320542.00,2320542.00
80,Andre Drummond,Chicago Bulls,C,6-11,279.0,Connecticut,3360000.0,3528000.00,3528000.00
89,Nikola Vucevic,Chicago Bulls,C,6-10,260.0,Southern California,18518519.0,19444444.95,19444444.95
145,Nikola Jokic,Denver Nuggets,C,6-11,284.0,Mega Basket,47607350.0,49987717.50,49987717.50
146,DeAndre Jordan,Denver Nuggets,C,6-11,265.0,Texas A&M,3196448.0,3356270.40,3356270.40
200,Jock Landale,Houston Rockets,C,6-11,255.0,St. Mary's,8000000.0,8400000.00,8400000.00
228,Oscar Tshiebwe,Indiana Pacers,F-C,6-9,255.0,Kentucky,559782.0,587771.10,587771.10
247,Mason Plumlee,Los Angeles Clippers,F-C,7-0,254.0,Duke,5000000.0,5250000.00,5250000.00
254,Anthony Davis,Los Angeles Lakers,F-C,6-10,253.0,Kentucky,40600080.0,42630084.00,42630084.00
268,Tristan Thompson,Los Angeles Lakers,C-F,6-9,254.0,Texas-Austin,0.0,0.00,0.00
271,Steven Adams,Memphis Grizzlies,C,6-11,265.0,Pittsburgh,12600000.0,13230000.00,13230000.00
284,Kenneth Lofton Jr.,Memphis Grizzlies,F,6-6,275.0,Louisiana Tech,0.0,0.00,0.00
286,David Roddy,Memphis Grizzlies,F,6-4,255.0,Colorado State,2718240.0,2854152.00,2854152.00
293,Bam Adebayo,Miami Heat,C-F,6-9,255.0,Kentucky,32600060.0,34230063.00,34230063.00
305,Kevin Love,Miami Heat,F-C,6-8,251.0,UCLA,3835738.0,4027524.90,4027524.90
327,Meyers Leonard,Milwaukee Bucks,F-C,7-0,260.0,Illinois,0.0,0.00,0.00
329,Brook Lopez,Milwaukee Bucks,C,7-1,282.0,Stanford,25000000.0,26250000.00,26250000.00
330,Robin Lopez,Milwaukee Bucks,C,7-0,281.0,Stanford,3196448.0,3356270.40,3356270.40
344,Rudy Gobert,Minnesota Timberwolves,C,7-1,258.0,Cholet,41000000.0,43050000.00,43050000.00
352,Naz Reid,Minnesota Timberwolves,C-F,6-9,264.0,Louisiana State,12950400.0,13597920.00,13597920.00
369,Jonas Valanciunas,New Orleans Pelicans,C,6-11,265.0,Lietuvos rytas Vilnius,15435000.0,16206750.00,16206750.00
370,Zion Williamson,New Orleans Pelicans,F,6-6,284.0,Duke,34005250.0,35705512.50,35705512.50
380,Nathan Knight,New York Knicks,F-C,6-8,253.0,William & Mary,940500.0,987525.00,987525.00
418,Wendell Carter Jr.,Orlando Magic,C-F,6-10,270.0,Duke,0.0,0.00,0.00
436,Joel Embiid,Philadelphia 76ers,C-F,7-0,280.0,Kansas,47607350.0,49987717.50,49987717.50
454,Udoka Azubuike,Phoenix Suns,C-F,6-11,270.0,Kansas,559782.0,587771.10,587771.10
457,Bismack Biyombo,Phoenix Suns,C,6-8,255.0,Baloncesto Fuenlabrada,0.0,0.00,0.00
483,Jusuf Nurkic,Portland Trail Blazers,C,7-0,290.0,Cedevita,16875000.0,17718750.00,17718750.00
499,JaVale McGee,Sacramento Kings,C-F,7-0,270.0,Nevada,5734280.0,6020994.00,6020994.00
569,Omer Yurtseven,Utah Jazz,C,6-11,275.0,Georgetown,2800000.0,2940000.00,2940000.00

In [66]:
nba[(nba["Position"]=="C")]

,Name,Team,Position,Height,Weight,College,Salary,salaryin,Salary_in
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,21646800.00,21646800.00
26,Mfiondu Kabengele,Boston Celtics,C,6-10,250.0,Florida State,0.0,0.00,0.00
39,Nic Claxton,Brooklyn Nets,C,6-11,215.0,Georgia,0.0,0.00,0.00
45,Day'Ron Sharpe,Brooklyn Nets,C,6-9,265.0,North Carolina,2210040.0,2320542.00,2320542.00
67,Nick Richards,Charlotte Hornets,C,7-0,245.0,Kentucky,0.0,0.00,0.00
72,Mark Williams,Charlotte Hornets,C,7-0,240.0,Duke,3908160.0,4103568.00,4103568.00
80,Andre Drummond,Chicago Bulls,C,6-11,279.0,Connecticut,3360000.0,3528000.00,3528000.00
89,Nikola Vucevic,Chicago Bulls,C,6-10,260.0,Southern California,18518519.0,19444444.95,19444444.95
92,Jarrett Allen,Cleveland Cavaliers,C,6-9,243.0,Texas,20000000.0,21000000.00,21000000.00
98,Damian Jones,Cleveland Cavaliers,C,6-11,245.0,Vanderbilt,2586665.0,2715998.25,2715998.25
102,Evan Mobley,Cleveland Cavaliers,C,6-11,215.0,Southern California,8882640.0,9326772.00,9326772.00
123,Dereck Lively II,Dallas Mavericks,C,7-1,230.0,Duke,0.0,0.00,0.00
143,Jay Huff,Denver Nuggets,C,7-1,240.0,Virginia,559782.0,587771.10,587771.10
145,Nikola Jokic,Denver Nuggets,C,6-11,284.0,Mega Basket,47607350.0,49987717.50,49987717.50
146,DeAndre Jordan,Denver Nuggets,C,6-11,265.0,Texas A&M,3196448.0,3356270.40,3356270.40
162,Jalen Duren,Detroit Pistons,C,6-11,250.0,Memphis,4330680.0,4547214.00,4547214.00
174,James Wiseman,Detroit Pistons,C,7-0,240.0,Memphis,12119440.0,12725412.00,12725412.00
200,Jock Landale,Houston Rockets,C,6-11,255.0,St. Mary's,8000000.0,8400000.00,8400000.00
205,Alperen Sengun,Houston Rockets,C,6-11,243.0,Besiktas,3536280.0,3713094.00,3713094.00
251,Ivica Zubac,Los Angeles Clippers,C,7-0,240.0,Mega Basket,10933333.0,11479999.65,11479999.65
252,Colin Castleton,Los Angeles Lakers,C,6-11,250.0,Florida,559782.0,587771.10,587771.10
271,Steven Adams,Memphis Grizzlies,C,6-11,265.0,Pittsburgh,12600000.0,13230000.00,13230000.00
311,Orlando Robinson,Miami Heat,C,6-10,235.0,Fresno State,1801769.0,1891857.45,1891857.45
329,Brook Lopez,Milwaukee Bucks,C,7-1,282.0,Stanford,25000000.0,26250000.00,26250000.00
330,Robin Lopez,Milwaukee Bucks,C,7-0,281.0,Stanford,3196448.0,3356270.40,3356270.40
343,Luka Garza,Minnesota Timberwolves,C,6-10,243.0,Iowa,559782.0,587771.10,587771.10
344,Rudy Gobert,Minnesota Timberwolves,C,7-1,258.0,Cholet,41000000.0,43050000.00,43050000.00
369,Jonas Valanciunas,New Orleans Pelicans,C,6-11,265.0,Lietuvos rytas Vilnius,15435000.0,16206750.00,16206750.00
388,Jericho Sims,New York Knicks,C,6-10,250.0,Texas,1927896.0,2024290.80,2024290.80
389,Dmytro Skapintsev,New York Knicks,C,7-1,215.0,California State-Northridge,1119563.0,1175541.15,1175541.15
406,Olivier Sarr,Oklahoma City Thunder,C,6-11,240.0,Kentucky,559782.0,587771.10,587771.10
432,Mo Bamba,Philadelphia 76ers,C,7-0,231.0,Texas,2346614.0,2463944.70,2463944.70
435,Dewayne Dedmon,Philadelphia 76ers,C,6-10,245.0,Southern California,2748674.0,2886107.70,2886107.70
446,Filip Petrusev,Philadelphia 76ers,C,6-11,225.0,Gonzaga,1119563.0,1175541.15,1175541.15
453,Deandre Ayton,Phoenix Suns,C,7-0,250.0,Arizona,32459438.0,34082409.90,34082409.90
457,Bismack Biyombo,Phoenix Suns,C,6-8,255.0,Baloncesto Fuenlabrada,0.0,0.00,0.00
473,Ibou Badji,Portland Trail Blazers,C,7-1,240.0,FC Barcelona,559782.0,587771.10,587771.10
474,Moses Brown,Portland Trail Blazers,C,7-2,245.0,UCLA,2165000.0,2273250.00,2273250.00
483,Jusuf Nurkic,Portland Trail Blazers,C,7-0,290.0,Cedevita,16875000.0,17718750.00,17718750.00
497,Alex Len,Sacramento Kings,C,7-2,250.0,Maryland,3196448.0,3356270.40,3356270.40
504,Neemias Queta,Sacramento Kings,C,7-0,248.0,Utah State,2019706.0,2120691.30,2120691.30
510,Khem Birch,San Antonio Spurs,C,6-8,233.0,UNLV,6985000.0,7334250.00,7334250.00
538,Christian Koloko,Toronto Raptors,C,7-0,230.0,Arizona,1719864.0,1805857.20,1805857.20
542,Jakob Poeltl,Toronto Raptors,C,7-1,245.0,Utah,20000000.0,21000000.00,21000000.00
559,Walker Kessler,Utah Jazz,C,7-0,245.0,Auburn,2831160.0,2972718.00,2972718.00
565,Micah Potter,Utah Jazz,C,6-8,248.0,Wisconsin,559782.0,587771.10,587771.10
569,Omer Yurtseven,Utah Jazz,C,6-11,275.0,Georgetown,2800000.0,2940000.00,2940000.00