In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
nba=pd.read_csv(r"C:\Users\Preeti\Desktop\Preeti\Christ\Excel files (python)\nba.csv")
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
nba.dropna()

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
585,Eugene Omoruyi,Washington Wizards,F,6-6,235.0,Oregon,559782.0
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [5]:
nba.dropna(how="all")

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [6]:
nba.dropna(subset=["Name","Salary"])

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
585,Eugene Omoruyi,Washington Wizards,F,6-6,235.0,Oregon,559782.0
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [8]:
nba.Salary=nba.Salary.fillna("To be decided")
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,To be decided
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,To be decided

In [12]:
nba.Salary.unique

<bound method Series.unique of 0          4556983.0
1         18700000.0
2          4094244.0
3         20616000.0
4          2581522.0
           ...
587        1719864.0
588       10250000.0
589    To be decided
590        8195122.0
591    To be decided
Name: Salary, Length: 592, dtype: object>

In [13]:
nba.Salary.describe()

count               592
unique              299
top       To be decided
freq                104
Name: Salary, dtype: object

In [16]:
nba.Salary.unique()

array([4556983.0, 18700000.0, 4094244.0, 20616000.0, 2581522.0, 508891.0,
       3712920.0, 1119563.0, 20089286.0, 2925360.0, 559782.0, 2000000.0,
       3196448.0, 6802950.0, 18214000.0, 8109063.0, 40064220.0, 2019706.0,
       2165000.0, 22500000.0, 31830357.0, 'To be decided', 1927896.0,
       10000000.0, 2413304.0, 36016200.0, 4037277.0, 32600060.0,
       18357143.0, 21700000.0, 3089460.0, 20357143.0, 13932008.0,
       25679348.0, 9500000.0, 2210040.0, 37893408.0, 2240160.0, 2966040.0,
       10900635.0, 4570080.0, 7921300.0, 31500000.0, 3047880.0, 7560000.0,
       1719864.0, 10880364.0, 2528233.0, 23205221.0, 1836096.0, 3908160.0,
       20465117.0, 6190476.0, 9460000.0, 28600000.0, 6481482.0, 3360000.0,
       1600000.0, 3350760.0, 18518519.0, 11111111.0, 9835881.0,
       20000000.0, 34005250.0, 2439025.0, 2586665.0, 15384616.0,
       1997238.0, 33162030.0, 8882640.0, 8800000.0, 8920794.0, 6146342.0,
       14487684.0, 5709877.0, 4000000.0, 3000000.0, 4765339.0, 12046020.0,
       37037037.0, 11000000.0, 2733720.0, 12405000.0, 2949120.0,
       14704938.0, 2234359.0, 22266182.0, 5000000.0, 47607350.0,
       33833400.0, 4306281.0, 1708143.0, 2431044.0, 2303520.0, 1801769.0,
       10489600.0, 11055360.0, 4330680.0, 19928571.0, 7413955.0,
       7614480.0, 9800926.0, 2624028.0, 5266713.0, 7977420.0, 12119440.0,
       51915615.0, 22321429.0, 6012840.0, 7500000.0, 3918480.0,
       30800000.0, 8715000.0, 3352404.0, 2709849.0, 43219440.0,
       24330357.0, 22627671.0, 3527160.0, 9891480.0, 9600000.0, 2346614.0,
       8000000.0, 3536280.0, 6500000.0, 8809284.0, 40806300.0, 22000000.0,
       5808435.0, 19279841.0, 2696280.0, 6916080.0, 2131905.0, 5634257.0,
       2537172.0, 5043773.0, 9108386.0, 6803012.0, 20975000.0, 6059460.0,
       11710818.0, 2413356.0, 3666667.0, 11692308.0, 45640084.0,
       2306400.0, 10576923.0, 18000000.0, 3835738.0, 10933333.0,
       40600080.0, 15740741.0, 3695076.0, 4516000.0, 12015150.0,
       17307693.0, 4698000.0, 10500000.0, 12600000.0, 3845083.0,
       2485200.0, 12500000.0, 14763636.0, 2400000.0, 3199920.0, 2718240.0,
       18583713.0, 1930681.0, 4810200.0, 45183960.0, 27000000.0,
       1902137.0, 2352000.0, 29682540.0, 2891467.0, 18154000.0, 8925000.0,
       2609400.0, 9423869.0, 1901769.0, 36861707.0, 25000000.0,
       29320988.0, 4687500.0, 9219512.0, 24360000.0, 13534817.0,
       41000000.0, 3901399.0, 2320000.0, 1800000.0, 12950400.0, 5784120.0,
       4310196.0, 35802469.0, 15435000.0, 23883929.0, 26346666.0,
       10900000.0, 18857143.0, 2385720.0, 12960000.0, 9245121.0,
       2066585.0, 940500.0, 4171548.0, 28226880.0, 15681818.0, 17000000.0,
       4798440.0, 15277778.0, 6587040.0, 33386850.0, 10386000.0,
       3191400.0, 7723000.0, 9450000.0, 5009633.0, 1900000.0, 5291352.0,
       4558680.0, 6175000.0, 5539771.0, 11608080.0, 7245480.0, 13000000.0,
       5026824.0, 17400000.0, 5266712.0, 7252080.0, 5508720.0, 2748674.0,
       35640000.0, 39270150.0, 5370370.0, 4343920.0, 2226240.0,
       32459438.0, 46741590.0, 47649433.0, 2815937.0, 27586207.0,
       9770904.0, 2808720.0, 6250000.0, 2847504.0, 16875000.0, 6313800.0,
       24107143.0, 4124400.0, 15669643.0, 5734280.0, 5063640.0, 9945830.0,
       8409000.0, 30600000.0, 2600000.0, 6985000.0, 3071880.0, 7700000.0,
       9895833.0, 13750000.0, 6718842.0, 5316960.0, 5887899.0, 12160632.0,
       2504640.0, 4379526.0, 8008680.0, 11750000.0, 4536708.0, 3873024.0,
       4114200.0, 23487629.0, 25340000.0, 2586484.0, 3044872.0, 3889776.0,
       5569872.0, 11020000.0, 2831160.0, 2092354.0, 17259999.0,
       12195122.0, 2448600.0, 17325000.0, 2800000.0, 6263188.0, 2337720.0,
       6614256.0, 5050800.0, 12402000.0, 14000000.0, 3722040.0,
       25568182.0, 3500000.0, 27955357.0, 10250000.0, 8195122.0],
      dtype=object)

In [17]:
nba.Team=nba.Team.replace(to_replace=["Atlanta Hawks"], value=["AtlantaHawks"])
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,AtlantaHawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,AtlantaHawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,AtlantaHawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,AtlantaHawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,AtlantaHawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,To be decided
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,To be decided

In [19]:
nba.rename(columns={"Team":"Team Name"},inplace=True)
nba

,Name,Team Name,Position,Height,Weight,College,Salary
0,Saddiq Bey,AtlantaHawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,AtlantaHawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,AtlantaHawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,AtlantaHawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,AtlantaHawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,To be decided
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,To be decided

In [21]:
nba.loc[:,["Name","College","Salary"]]

                  Name        College         Salary
0           Saddiq Bey      Villanova      4556983.0
1    Bogdan Bogdanovic     Fenerbahce     18700000.0
2          Kobe Bufkin       Michigan      4094244.0
3         Clint Capela    Elan Chalon     20616000.0
4       Bruno Fernando       Maryland      2581522.0
..                 ...            ...            ...
587       Ryan Rollins         Toledo      1719864.0
588      Landry Shamet  Wichita State     10250000.0
589   Tristan Vukcevic    Real Madrid  To be decided
590       Delon Wright           Utah      8195122.0
591                NaN            NaN  To be decided

[592 rows x 3 columns]

In [23]:
nba.loc[nba["Position"]=="G",["Name","Salary","Position"]]

                  Name         Salary Position
1    Bogdan Bogdanovic     18700000.0        G
2          Kobe Bufkin      4094244.0        G
5        Trent Forrest       508891.0        G
10          Seth Lundy       559782.0        G
11    Garrison Mathews      2000000.0        G
..                 ...            ...      ...
584      Kendrick Nunn  To be decided        G
586       Jordan Poole     27955357.0        G
587       Ryan Rollins      1719864.0        G
588      Landry Shamet     10250000.0        G
590       Delon Wright      8195122.0        G

[229 rows x 3 columns]

In [27]:
nba.loc[nba["Team Name"]=="AtlantaHawks",["Name","Position","Salary"]]

                 Name Position      Salary
0          Saddiq Bey        F   4556983.0
1   Bogdan Bogdanovic        G  18700000.0
2         Kobe Bufkin        G   4094244.0
3        Clint Capela        C  20616000.0
4      Bruno Fernando      F-C   2581522.0
5       Trent Forrest        G    508891.0
6          AJ Griffin        F   3712920.0
7      Mouhamed Gueye        F   1119563.0
8     De'Andre Hunter      F-G  20089286.0
9       Jalen Johnson        F   2925360.0
10         Seth Lundy        G    559782.0
11   Garrison Mathews        G   2000000.0
12    Wesley Matthews        G   3196448.0
13        Patty Mills        G   6802950.0
14    Dejounte Murray        G  18214000.0
15       Miles Norris      NaN    559782.0
16     Onyeka Okongwu      F-C   8109063.0
17         Trae Young        G  40064220.0