In [98]:
import pandas as pd

In [99]:
import numpy as np

In [100]:
nba=pd.read_csv(r"C:\Users\Preeti\Desktop\Preeti\Christ\Excel files (python)\nba.csv")
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
nba.dropna() #drops all bad rows

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
585,Eugene Omoruyi,Washington Wizards,F,6-6,235.0,Oregon,559782.0
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [102]:
nba.dropna(how="all") # when all values in the row are na

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [103]:
nba.dropna(subset=["College"]) # drops na value specifically inn the given subset like college or salary

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [104]:
nba.dropna(subset=["College"])

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [105]:
nba.dropna(subset=["College","Salary"])

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
585,Eugene Omoruyi,Washington Wizards,F,6-6,235.0,Oregon,559782.0
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [106]:
nba.dropna(subset="College")

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [107]:
nba.dropna(subset="Salary")

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
585,Eugene Omoruyi,Washington Wizards,F,6-6,235.0,Oregon,559782.0
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [11]:
nba.info()  # col name, null/non null, data type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      591 non-null    object
 1   Team      591 non-null    object
 2   Position  584 non-null    object
 3   Height    585 non-null    object
 4   Weight    584 non-null    float64
 5   College   578 non-null    object
 6   Salary    488 non-null    float64
dtypes: float64(2), object(5)
memory usage: 32.5+ KB

In [12]:
nba.describe()  # mathematical operations

           Weight        Salary
count  584.000000  4.880000e+02
mean   214.763699  9.218978e+06
std     23.460612  1.131927e+07
min    160.000000  5.088910e+05
25%    198.000000  1.980599e+06
50%    215.000000  4.018638e+06
75%    230.000000  1.169694e+07
max    290.000000  5.191562e+07

In [13]:
nba.fillna(0) # fills na places with zero everywhere

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,0,0,0,0,0.0,0,0.0

In [14]:
nba.Salary=nba.Salary.fillna(0)
nba.Salary

0       4556983.0
1      18700000.0
2       4094244.0
3      20616000.0
4       2581522.0
          ...
587     1719864.0
588    10250000.0
589           0.0
590     8195122.0
591           0.0
Name: Salary, Length: 592, dtype: float64

In [15]:
nba # there hasnt been any permanenet change

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [16]:
nba.College=nba.College.fillna("Unknown")
nba.College

0          Villanova
1         Fenerbahce
2           Michigan
3        Elan Chalon
4           Maryland
           ...
587           Toledo
588    Wichita State
589      Real Madrid
590             Utah
591          Unknown
Name: College, Length: 592, dtype: object

In [17]:
nba.loc[:,["Name","Team","Position"]].head(5) #: means go through the file, this is filtering of data

                Name           Team Position
0         Saddiq Bey  Atlanta Hawks        F
1  Bogdan Bogdanovic  Atlanta Hawks        G
2        Kobe Bufkin  Atlanta Hawks        G
3       Clint Capela  Atlanta Hawks        C
4     Bruno Fernando  Atlanta Hawks      F-C

In [18]:
nba.loc[:,["Name","College","Salary","Position"]].head(10)

                Name           College      Salary Position
0         Saddiq Bey         Villanova   4556983.0        F
1  Bogdan Bogdanovic        Fenerbahce  18700000.0        G
2        Kobe Bufkin          Michigan   4094244.0        G
3       Clint Capela       Elan Chalon  20616000.0        C
4     Bruno Fernando          Maryland   2581522.0      F-C
5      Trent Forrest     Florida State    508891.0        G
6         AJ Griffin              Duke   3712920.0        F
7     Mouhamed Gueye  Washington State   1119563.0        F
8    De'Andre Hunter          Virginia  20089286.0      F-G
9      Jalen Johnson              Duke   2925360.0        F

In [19]:
nba.loc[:,["Name","Position","Salary"]].head()

                Name Position      Salary
0         Saddiq Bey        F   4556983.0
1  Bogdan Bogdanovic        G  18700000.0
2        Kobe Bufkin        G   4094244.0
3       Clint Capela        C  20616000.0
4     Bruno Fernando      F-C   2581522.0

In [20]:
nba.loc[nba["Position"]=="G",["Name"]].head()

                 Name
1   Bogdan Bogdanovic
2         Kobe Bufkin
5       Trent Forrest
10         Seth Lundy
11   Garrison Mathews

In [22]:
nba.loc[nba["Position"]=="G",["Name","College","Position"]].head() # filters position with only G

                 Name        College Position
1   Bogdan Bogdanovic     Fenerbahce        G
2         Kobe Bufkin       Michigan        G
5       Trent Forrest  Florida State        G
10         Seth Lundy     Penn State        G
11   Garrison Mathews       Lipscomb        G

In [23]:
nba.loc[nba["Position"]=="F",["Name","College","Position"]].head() # head just shows the first 5 rows with our condition

              Name           College Position
0       Saddiq Bey         Villanova        F
6       AJ Griffin              Duke        F
7   Mouhamed Gueye  Washington State        F
9    Jalen Johnson              Duke        F
18   Dalano Banton          Nebraska        F

In [24]:
nba.loc[nba["Position"]=="C",["Name","College","Position"]].head()

                 Name         College Position
3        Clint Capela     Elan Chalon        C
26  Mfiondu Kabengele   Florida State        C
39        Nic Claxton         Georgia        C
45     Day'Ron Sharpe  North Carolina        C
67      Nick Richards        Kentucky        C

In [25]:
nba["Salary_in"]=nba["Salary"]*1.05  # broadcasting function, math operations 
nba["Salary_in"]

0       4784832.15
1      19635000.00
2       4298956.20
3      21646800.00
4       2710598.10
          ...
587     1805857.20
588    10762500.00
589           0.00
590     8604878.10
591           0.00
Name: Salary_in, Length: 592, dtype: float64

In [26]:
nba["Salary"]=nba["Salary"]*2
nba["Salary"]

0       9113966.0
1      37400000.0
2       8188488.0
3      41232000.0
4       5163044.0
          ...
587     3439728.0
588    20500000.0
589           0.0
590    16390244.0
591           0.0
Name: Salary, Length: 592, dtype: float64

In [27]:
nba # still no change in the actual data

,Name,Team,Position,Height,Weight,College,Salary,Salary_in
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,9113966.0,4784832.15
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,37400000.0,19635000.00
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,8188488.0,4298956.20
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,41232000.0,21646800.00
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,5163044.0,2710598.10
...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,3439728.0,1805857.20
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,20500000.0,10762500.00
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0.0,0.00
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,16390244.0,8604878.10
591,NaN,NaN,NaN,NaN,NaN,Unknown,0.0,0.00

In [28]:
#dataframe

In [29]:
Table={"Name":["Teisya",np.nan,"Rain",np.nan,"Power"],"Register":[1,2,3,4,5],"Class":["A",np.nan,"B","C","D"],"Score":[45,67,89,98,74]} # np.nan gives us NaN in the data

In [31]:
data_frame=pd.DataFrame(Table)
data_frame

     Name  Register Class  Score
0  Teisya         1     A     45
1     NaN         2   NaN     67
2    Rain         3     B     89
3     NaN         4     C     98
4   Power         5     D     74

In [35]:
data={"Friuts":["banana","Apple","Grapes"],"kgs":[2,4,1]}
dt=pd.DataFrame(data)

In [36]:
dt

   Friuts  kgs
0  banana    2
1   Apple    4
2  Grapes    1

In [37]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Friuts  3 non-null      object
 1   kgs     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [40]:
nba.iloc[:10,3]  #iloc is index

0     6-7
1     6-5
2     6-5
3    6-10
4    6-10
5     6-4
6     6-6
7    6-11
8     6-8
9     6-8
Name: Height, dtype: object

In [41]:
nba.iloc

In [42]:
nba.iloc[:10,3]
nba.iloc

In [43]:
nba[(nba["Salary"]>4000000) & (nba["Salary"]<5000000)]

,Name,Team,Position,Height,Weight,College,Salary,Salary_in
18,Dalano Banton,Boston Celtics,F,6-7,204.0,Nebraska,4039412.0,2120691.30
19,Oshae Brissett,Boston Celtics,F-G,6-7,210.0,Syracuse,4330000.0,2273250.00
27,Luke Kornet,Boston Celtics,C-F,7-2,250.0,Vanderbilt,4826608.0,2533969.20
36,Darius Bazley,Brooklyn Nets,F,6-9,216.0,Princeton HS (OH),4330000.0,2273250.00
45,Day'Ron Sharpe,Brooklyn Nets,C,6-9,265.0,North Carolina,4420080.0,2320542.00
48,Cam Thomas,Brooklyn Nets,G,6-3,210.0,Louisiana State,4480320.0,2352168.00
50,Trendon Watford,Brooklyn Nets,F,6-8,237.0,Louisiana State,4039412.0,2120691.30
87,Terry Taylor,Chicago Bulls,F,6-4,230.0,Austin Peay,4039412.0,2120691.30
97,Ty Jerome,Cleveland Cavaliers,G-F,6-5,195.0,Virginia,4878050.0,2560976.25
130,Joe Wieskamp,Dallas Mavericks,G-F,6-6,205.0,Iowa,4039412.0,2120691.30
137,Vlatko Cancar,Denver Nuggets,F,6-8,236.0,San Pablo Burgos,4468718.0,2346076.95
153,Julian Strawther,Denver Nuggets,G,6-7,205.0,Gonzaga,4862088.0,2552596.20
155,Peyton Watson,Denver Nuggets,G,6-7,200.0,UCLA,4607040.0,2418696.00
197,Nate Hinton,Houston Rockets,G-F,6-5,210.0,Houston,4039412.0,2120691.30
198,Aaron Holiday,Houston Rockets,G,6-0,185.0,UCLA,4693228.0,2463944.70
221,Andrew Nembhard,Indiana Pacers,G-F,6-3,191.0,Gonzaga,4263810.0,2238500.25
235,Kobe Brown,Los Angeles Clippers,F,6-8,250.0,Missouri,4826712.0,2534023.80
240,Bones Hyland,Los Angeles Clippers,G,6-2,169.0,Virginia Commonwealth,4612800.0,2421720.00
258,Jaxson Hayes,Los Angeles Lakers,C-F,7-0,220.0,Texas,4330000.0,2273250.00
266,Cam Reddish,Los Angeles Lakers,F-G,6-7,217.0,Duke,4330000.0,2273250.00
275,Josh Christopher,Memphis Grizzlies,G,6-4,215.0,Arizona State,4970400.0,2609460.00
282,John Konchar,Memphis Grizzlies,G,6-5,210.0,Indiana-Purdue Fort Wayne,4800000.0,2520000.00
298,Justin Champagnie,Miami Heat,G-F,6-6,206.0,Pittsburgh,4039412.0,2120691.30
304,Nikola Jovic,Miami Heat,F,6-10,205.0,Mega Basket,4704000.0,2469600.00
317,Thanasis Antetokounmpo,Milwaukee Bucks,F,6-7,219.0,Panathinaikos,4693228.0,2463944.70
346,Jordan McLaughlin,Minnesota Timberwolves,G,6-0,185.0,Southern California,4640000.0,2436000.00
376,Quentin Grimes,New York Knicks,G,6-5,210.0,Houston,4771440.0,2505006.00
379,DaQuan Jeffries,New York Knicks,G-F,6-5,222.0,Tulsa,4133170.0,2169914.25
387,Isaiah Roby,New York Knicks,F,6-8,230.0,Nebraska,4133170.0,2169914.25
416,Goga Bitadze,Orlando Magic,C-F,6-11,250.0,Mega Basket,4133170.0,2169914.25
432,Mo Bamba,Philadelphia 76ers,C,7-0,231.0,Texas,4693228.0,2463944.70
450,Jaden Springer,Philadelphia 76ers,G,6-4,202.0,Tennessee,4452480.0,2337552.00
455,Keita Bates-Diop,Phoenix Suns,F,6-8,229.0,Ohio State,4693228.0,2463944.70
458,Bol Bol,Phoenix Suns,C-F,7-2,220.0,Oregon,4330000.0,2273250.00
462,Drew Eubanks,Phoenix Suns,F-C,6-10,245.0,Oregon State,4693228.0,2463944.70
467,Chimezie Metu,Phoenix Suns,F-C,6-9,225.0,Southern California,4693228.0,2463944.70
472,Yuta Watanabe,Phoenix Suns,G-F,6-8,215.0,George Washington,4693228.0,2463944.70
474,Moses Brown,Portland Trail Blazers,C,7-2,245.0,UCLA,4330000.0,2273250.00
496,Colby Jones,Sacramento Kings,G,6-6,207.0,Xavier,4039412.0,2120691.30
504,Neemias Queta,Sacramento Kings,C,7-0,248.0,Utah State,4039412.0,2120691.30
519,Sandro Mamukelashvili,San Antonio Spurs,F-C,6-10,240.0,Seton Hall,4039412.0,2120691.30
561,Romeo Langford,Utah Jazz,G-F,6-5,216.0,Indiana,4184708.0,2196971.70
566,Luka Samanic,Utah Jazz,F,6-10,227.0,Union Olimpija,4133170.0,2169914.25
567,Brice Sensabaugh,Utah Jazz,F,6-6,235.0,Ohio State,4897200.0,2571030.00
571,Patrick Baldwin,Washington Wizards,F,6-9,220.0,Wisconsin-Milwaukee,4675440.0,2454606.00

In [44]:
nba[(nba["Salary"]>3000000) & (nba["Salary"]<4500000)]

,Name,Team,Position,Height,Weight,College,Salary,Salary_in
11,Garrison Mathews,Atlanta Hawks,G,6-6,215.0,Lipscomb,4000000.0,2100000.00
18,Dalano Banton,Boston Celtics,F,6-7,204.0,Nebraska,4039412.0,2120691.30
19,Oshae Brissett,Boston Celtics,F-G,6-7,210.0,Syracuse,4330000.0,2273250.00
24,Sam Hauser,Boston Celtics,F,6-7,217.0,Virginia,3855792.0,2024290.80
36,Darius Bazley,Brooklyn Nets,F,6-9,216.0,Princeton HS (OH),4330000.0,2273250.00
...,...,...,...,...,...,...,...,...
561,Romeo Langford,Utah Jazz,G-F,6-5,216.0,Indiana,4184708.0,2196971.70
566,Luka Samanic,Utah Jazz,F,6-10,227.0,Union Olimpija,4133170.0,2169914.25
573,Xavier Cooks,Washington Wizards,F,6-8,183.0,Winthrop,3439728.0,1805857.20
579,Anthony Gill,Washington Wizards,F,6-8,230.0,Virginia,3994476.0,2097099.90
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,3439728.0,1805857.20

In [45]:
nba[(nba["Salary"]>4500000000) & (nba["Salary"])<5000000000]

,Name,Team,Position,Height,Weight,College,Salary,Salary_in
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,9113966.0,4784832.15
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,37400000.0,19635000.00
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,8188488.0,4298956.20
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,41232000.0,21646800.00
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,5163044.0,2710598.10
...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,3439728.0,1805857.20
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,20500000.0,10762500.00
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0.0,0.00
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,16390244.0,8604878.10
591,NaN,NaN,NaN,NaN,NaN,Unknown,0.0,0.00

In [46]:
fortune=pd.read_csv(r"C:\Users\Preeti\Desktop\Preeti\Christ\Excel files (python)\fortune1000.csv",index_col="Rank")
fortune

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400
...,...,...,...,...,...,...
996,New York Community Bancorp,Financials,Commercial Banks,1902,-47,3448
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,1896,161,21200
1000,Briggs & Stratton,Industrials,Industrial Machinery,1895,46,5480

In [47]:
df=pd.DataFrame(fortune)

In [115]:
df.groupby("Sector")["Profits"].sum()

Sector
Aerospace & Defense              28742
Apparel                           8236
Business Services                28227
Chemicals                        22628
Energy                          -73447
Engineering & Construction        5304
Financials                      260209
Food and Drug Stores             16759
Food, Beverages & Tobacco        51417
Health Care                     106114
Hotels, Resturants & Leisure     20697
Household Products               14428
Industrials                      20764
Materials                         4428
Media                            24347
Motor Vehicles & Parts           25898
Retailing                        47830
Technology                      180473
Telecommunications               48637
Transportation                   44169
Wholesalers                       8233
Name: Profits, dtype: int64

In [48]:
df.groupby(["Industry","Sector"])["Profits"].mean()

Industry                                       Sector
Advertising, marketing                         Business Services       774.500000
Aerospace and Defense                          Aerospace & Defense    1437.100000
Airlines                                       Transportation         2644.444444
Apparel                                        Apparel                 549.066667
Automotive Retailing, Services                 Retailing               255.000000
                                                                         ...
Waste Management                               Business Services       343.600000
Wholesalers: Diversified                       Wholesalers             207.720000
Wholesalers: Electronics and Office Equipment  Wholesalers             232.125000
Wholesalers: Food and Grocery                  Wholesalers             194.333333
Wholesalers: Health Care                       Health Care             560.166667
Name: Profits, Length: 79, dtype: float64

In [49]:
df.groupby("Industry")["Profits"].sum()

Industry
Advertising, marketing                            1549
Aerospace and Defense                            28742
Airlines                                         23800
Apparel                                           8236
Automotive Retailing, Services                    2550
                                                 ...
Waste Management                                  1718
Wholesalers: Diversified                          5193
Wholesalers: Electronics and Office Equipment     1857
Wholesalers: Food and Grocery                     1166
Wholesalers: Health Care                          3361
Name: Profits, Length: 73, dtype: int64

In [50]:
Group_sector=fortune.groupby("Sector")  #alternative to groupby : IMP

In [51]:
Group_sector

In [52]:
len(Group_sector) # total number of sectors

21

In [53]:
Group_sector.size()  # for that sector how many companies are there

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

In [54]:
Group_sector.first()  #1st half of the data

,Company,Industry,Revenue,Profits,Employees
Sector,,,,,
Aerospace & Defense,Boeing,Aerospace and Defense,96114,5176,161400
Apparel,Nike,Apparel,30601,3273,62600
Business Services,ManpowerGroup,Temporary Help,19330,419,27000
Chemicals,Dow Chemical,Chemicals,48778,7685,49495
Energy,Exxon Mobil,Petroleum Refining,246204,16150,75600
Engineering & Construction,Fluor,"Engineering, Construction",18114,413,38758
Financials,Berkshire Hathaway,Insurance: Property and Casualty (Stock),210821,24083,331000
Food and Drug Stores,CVS Health,Food and Drug Stores,153290,5237,199000
"Food, Beverages & Tobacco",Archer Daniels Midland,Food Production,67702,1849,32300
Health Care,McKesson,Wholesalers: Health Care,181241,1476,70400
"Hotels, Resturants & Leisure",McDonald’s,Food Services,25413,4529,420000
Household Products,Procter & Gamble,Household and Personal Products,78756,7036,110000
Industrials,General Electric,Industrial Machinery,140389,-6126,333000
Materials,Alcoa,Metals,22534,-322,60000
Media,Disney,Entertainment,52465,8382,185000
Motor Vehicles & Parts,General Motors,Motor Vehicles and Parts,152356,9687,215000
Retailing,Walmart,General Merchandisers,482130,14694,2300000
Technology,Apple,"Computers, Office Equipment",233715,53394,110000
Telecommunications,AT&T,Telecommunications,146801,13345,281450
Transportation,UPS,"Mail, Package, and Freight Delivery",58363,4844,341240
Wholesalers,Sysco,Wholesalers: Food and Grocery,48681,687,51700

In [55]:
Group_sector.last()  # 2nd half of the data

,Company,Industry,Revenue,Profits,Employees
Sector,,,,,
Aerospace & Defense,Delta Tucker Holdings,Aerospace and Defense,1923,-133,12000
Apparel,Guess,Apparel,2204,82,13500
Business Services,DeVry Education Group,Education,1910,140,11770
Chemicals,H.B. Fuller,Chemicals,2084,87,4425
Energy,Portland General Electric,Utilities: Gas and Electric,1898,172,2646
Engineering & Construction,MDC Holdings,Homebuilders,1909,66,1225
Financials,New York Community Bancorp,Commercial Banks,1902,-47,3448
Food and Drug Stores,Fred’s,Food and Drug Stores,2151,-7,7103
"Food, Beverages & Tobacco",Alliance One International,Tobacco,2066,-15,6835
Health Care,Providence Service,Health Care: Pharmacy and Other Services,1987,84,9072
"Hotels, Resturants & Leisure",Wendy’s,Food Services,1896,161,21200
Household Products,Revlon,Household and Personal Products,1914,56,5700
Industrials,Briggs & Stratton,Industrial Machinery,1895,46,5480
Materials,Schnitzer Steel Industries,Metals,1924,-197,2955
Media,Cenveo,"Publishing, Printing",1921,-31,7300
Motor Vehicles & Parts,Allison Transmission Holdings,Motor Vehicles and Parts,1986,182,2700
Retailing,99 Cents Only Stores,Specialty Retailers: Other,1999,-232,18200
Technology,F5 Networks,Network and Other Communications Equipment,1920,365,4178
Telecommunications,Equinix,Telecommunications,2726,188,5042
Transportation,Roadrunner Transportation Systems,Transportation and Logistics,1995,48,4502
Wholesalers,BlueLinx Holdings,Wholesalers: Diversified,1917,-12,1600

In [56]:
# nested loop

In [57]:
#get_group is a function - Its a loop

In [145]:
Group_sector.get_group("Energy")["Profits"].sum()

np.int64(-73447)

In [59]:
Group_sector.get_group("Apparel")["Profits"].sum()

np.int64(8236)

In [149]:
fortune.groupby("Industry")["Profits"].sum()

Industry
Advertising, marketing                            1549
Aerospace and Defense                            28742
Airlines                                         23800
Apparel                                           8236
Automotive Retailing, Services                    2550
                                                 ...
Waste Management                                  1718
Wholesalers: Diversified                          5193
Wholesalers: Electronics and Office Equipment     1857
Wholesalers: Food and Grocery                     1166
Wholesalers: Health Care                          3361
Name: Profits, Length: 73, dtype: int64

In [150]:
fortune.groupby(["Sector","Industry"])["Profits"].sum()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            28742
Apparel              Apparel                                           8236
Business Services    Advertising, marketing                            1549
                     Diversified Outsourcing Services                  4305
                     Education                                           69
                                                                      ...
Transportation       Trucking, Truck Leasing                           1910
Wholesalers          Miscellaneous                                       17
                     Wholesalers: Diversified                          5193
                     Wholesalers: Electronics and Office Equipment     1857
                     Wholesalers: Food and Grocery                     1166
Name: Profits, Length: 79, dtype: int64

In [60]:
Group_sector.get_group("Energy") # groups all data of sector energy

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
14,Chevron,Energy,Petroleum Refining,131118,4587,61500
30,Phillips 66,Energy,Petroleum Refining,87169,4227,14000
32,Valero Energy,Energy,Petroleum Refining,81824,3990,10103
42,Marathon Petroleum,Energy,Petroleum Refining,64566,2852,45440
...,...,...,...,...,...,...
981,WPX Energy,Energy,"Mining, Crude-Oil Production",1958,-1727,1040
983,Adams Resources & Energy,Energy,Petroleum Refining,1944,-1,809
995,EP Energy,Energy,"Mining, Crude-Oil Production",1908,-3748,665
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646

In [61]:
Group_sector.get_group("Apparel")

                   Company   Sector Industry  Revenue  Profits  Employees
Rank
91                    Nike  Apparel  Apparel    30601     3273      62600
231                     VF  Apparel  Apparel    12377     1232      64000
340                    PVH  Apparel  Apparel     8020      572      26200
354           Ralph Lauren  Apparel  Apparel     7620      702      20000
448            Hanesbrands  Apparel  Apparel     5732      429      65300
547           Levi Strauss  Apparel  Apparel     4495      209      12500
575                  Coach  Apparel  Apparel     4192      402      12950
597           Under Armour  Apparel  Apparel     3963      233       9600
683           Fossil Group  Apparel  Apparel     3229      221      15100
695        Skechers U.S.A.  Apparel  Apparel     3159      232       6400
726               Carter’s  Apparel  Apparel     3014      238      16800
794   Wolverine World Wide  Apparel  Apparel     2692      123       6550
877    G-III Apparel Group  Apparel  Apparel     2344      114       8919
882    Columbia Sportswear  Apparel  Apparel     2326      174       5978
917                  Guess  Apparel  Apparel     2204       82      13500

In [69]:
Group_sector.get_group("Apparel")["Profits"].sum()

np.int64(8236)

In [70]:
Group_sector["Revenue"].sum() # sum of revenue for every sector

Sector
Aerospace & Defense              357940
Apparel                           95968
Business Services                272195
Chemicals                        243897
Energy                          1517809
Engineering & Construction       153983
Financials                      2217159
Food and Drug Stores             483769
Food, Beverages & Tobacco        555967
Health Care                     1614707
Hotels, Resturants & Leisure     169546
Household Products               234737
Industrials                      497581
Materials                        259145
Media                            220764
Motor Vehicles & Parts           482540
Retailing                       1465076
Technology                      1377600
Telecommunications               461834
Transportation                   408508
Wholesalers                      444800
Name: Revenue, dtype: int64

In [71]:
#Sector & Industry size

In [75]:
Group_sector.agg({"Employees":"sum","Profits":"mean","Revenue":"sum"}) # always use small s , m for sum and mean functions 
# the agg computes multiple statistics for one or more columns simultaneously, making it particularly useful for summarizing data in a DataFrame based on certain criteria.

                              Employees      Profits  Revenue
Sector
Aerospace & Defense              968057  1437.100000   357940
Apparel                          346397   549.066667    95968
Business Services               1361050   553.470588   272195
Chemicals                        463651   754.266667   243897
Energy                          1188927  -602.024590  1517809
Engineering & Construction       406708   204.000000   153983
Financials                      3359948  1872.007194  2217159
Food and Drug Stores            1395398  1117.266667   483769
Food, Beverages & Tobacco       1211632  1195.744186   555967
Health Care                     2678289  1414.853333  1614707
Hotels, Resturants & Leisure    2484245   827.880000   169546
Household Products               646038   515.285714   234737
Industrials                     1545229   451.391304   497581
Materials                        638123   102.976744   259145
Media                            550314   973.880000   220764
Motor Vehicles & Parts          1082560  1079.083333   482540
Retailing                       6227629   597.875000  1465076
Technology                      3578949  1769.343137  1377600
Telecommunications               832468  3242.466667   461834
Transportation                  1536793  1226.916667   408508
Wholesalers                      525597   205.825000   444800

In [79]:
#series

In [80]:
import pandas as pd
import numpy as np

In [82]:
ice_cream=["Strawberry","Choco","Vanilla","mint"]
pd.series(ice_cream)  # Ensure that 'S' is capital in series or it will show error

AttributeError: module 'pandas' has no attribute 'series'

In [83]:
ice_cream=["Strawberry","Choco","Vanilla","mint"]
pd.Series(ice_cream)  #data type here is object

0    Strawberry
1         Choco
2       Vanilla
3          mint
dtype: object

In [88]:
type(ice_cream)

list

In [89]:
lotter_number=[12,45,67,89,9]
pd.Series(lotter_number) # data type integers

0    12
1    45
2    67
3    89
4     9
dtype: int64

In [90]:
type(lotter_number)

list

In [91]:
# checking for missing data using isna

In [92]:
print(data_frame.isna())

    Name  Register  Class  Score
0  False     False  False  False
1   True     False   True  False
2  False     False  False  False
3   True     False  False  False
4  False     False  False  False

In [95]:
data=data_frame.replace(to_replace=np.nan,value=0)
print(data)

     Name  Register Class  Score
0  Teisya         1     A     45
1       0         2     0     67
2    Rain         3     B     89
3       0         4     C     98
4   Power         5     D     74