import pandas as pd
import numpy as np

In [2]:
nba=pd.read_csv(r"C:\Users\Preeti\Desktop\Preeti\Christ\Excel files (python)\nba.csv")
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
nba.dropna()

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
585,Eugene Omoruyi,Washington Wizards,F,6-6,235.0,Oregon,559782.0
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [4]:
nba.dropna(how="all")

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [5]:
nba.dropna(subset=["College","Salary","Name"])

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
585,Eugene Omoruyi,Washington Wizards,F,6-6,235.0,Oregon,559782.0
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [6]:
nba.Salary=nba.Salary.fillna("To be decided")

In [7]:
nba.Salary

0          4556983.0
1         18700000.0
2          4094244.0
3         20616000.0
4          2581522.0
           ...
587        1719864.0
588       10250000.0
589    To be decided
590        8195122.0
591    To be decided
Name: Salary, Length: 592, dtype: object

In [8]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      591 non-null    object
 1   Team      591 non-null    object
 2   Position  584 non-null    object
 3   Height    585 non-null    object
 4   Weight    584 non-null    float64
 5   College   578 non-null    object
 6   Salary    592 non-null    object
dtypes: float64(1), object(6)
memory usage: 32.5+ KB

In [11]:
nba.describe()

           Weight
count  584.000000
mean   214.763699
std     23.460612
min    160.000000
25%    198.000000
50%    215.000000
75%    230.000000
max    290.000000

In [12]:
nba.loc[:,["Name","Salary","Position"]]

                  Name         Salary Position
0           Saddiq Bey      4556983.0        F
1    Bogdan Bogdanovic     18700000.0        G
2          Kobe Bufkin      4094244.0        G
3         Clint Capela     20616000.0        C
4       Bruno Fernando      2581522.0      F-C
..                 ...            ...      ...
587       Ryan Rollins      1719864.0        G
588      Landry Shamet     10250000.0        G
589   Tristan Vukcevic  To be decided        F
590       Delon Wright      8195122.0        G
591                NaN  To be decided      NaN

[592 rows x 3 columns]

In [13]:
nba.loc[nba["Position"]=="G",["Name","Salary","College"]]

                  Name         Salary        College
1    Bogdan Bogdanovic     18700000.0     Fenerbahce
2          Kobe Bufkin      4094244.0       Michigan
5        Trent Forrest       508891.0  Florida State
10          Seth Lundy       559782.0     Penn State
11    Garrison Mathews      2000000.0       Lipscomb
..                 ...            ...            ...
584      Kendrick Nunn  To be decided        Oakland
586       Jordan Poole     27955357.0       Michigan
587       Ryan Rollins      1719864.0         Toledo
588      Landry Shamet     10250000.0  Wichita State
590       Delon Wright      8195122.0           Utah

[229 rows x 3 columns]

In [14]:
nba["Salary_in"]=nba["Salary"]*2
nba

,Name,Team,Position,Height,Weight,College,Salary,Salary_in
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,9113966.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,37400000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,8188488.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,41232000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,5163044.0
...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,3439728.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,20500000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,To be decided,To be decidedTo be decided
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,16390244.0
591,NaN,NaN,NaN,NaN,NaN,NaN,To be decided,To be decidedTo be decided

In [15]:
nba.rename(columns={"Salary_in":"New_salary"},inplace=True)

In [16]:
nba

,Name,Team,Position,Height,Weight,College,Salary,New_salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,9113966.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,37400000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,8188488.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,41232000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,5163044.0
...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,3439728.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,20500000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,To be decided,To be decidedTo be decided
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,16390244.0
591,NaN,NaN,NaN,NaN,NaN,NaN,To be decided,To be decidedTo be decided

In [17]:
nba.rename(columns={"Team":"College Name"},inplace=True)

In [18]:
nba

,Name,College Name,Position,Height,Weight,College,Salary,New_salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,9113966.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,37400000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,8188488.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,41232000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,5163044.0
...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,3439728.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,20500000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,To be decided,To be decidedTo be decided
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,16390244.0
591,NaN,NaN,NaN,NaN,NaN,NaN,To be decided,To be decidedTo be decided

In [19]:
nba.rename(columns={"College Name":"College Team"},inplace=True)

In [20]:
nba

,Name,College Team,Position,Height,Weight,College,Salary,New_salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,9113966.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,37400000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,8188488.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,41232000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,5163044.0
...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,3439728.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,20500000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,To be decided,To be decidedTo be decided
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,16390244.0
591,NaN,NaN,NaN,NaN,NaN,NaN,To be decided,To be decidedTo be decided

In [21]:
Table={"Name":["Preeti","Abhi",np.nan,"Aditi"],"Marks":[78,87,95,34],"Grade":["A","A","B","C"]}

In [22]:
Table

{'Name': ['Preeti', 'Abhi', nan, 'Aditi'],
 'Marks': [78, 87, 95, 34],
 'Grade': ['A', 'A', 'B', 'C']}

In [25]:
df=pd.DataFrame(Table)

In [26]:
df

     Name  Marks Grade
0  Preeti     78     A
1    Abhi     87     A
2     NaN     95     B
3   Aditi     34     C

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Marks   4 non-null      int64
 2   Grade   4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

In [28]:
df.describe()

           Marks
count   4.000000
mean   73.500000
std    27.233558
min    34.000000
25%    67.000000
50%    82.500000
75%    89.000000
max    95.000000

In [30]:
df[(df["Marks"]<100) & (df["Marks"]>70)]

     Name  Marks Grade
0  Preeti     78     A
1    Abhi     87     A
2     NaN     95     B

In [41]:
fortune=pd.read_csv(r"C:\Users\Preeti\Desktop\Preeti\Christ\Excel files (python)\fortune1000.csv",index_col=0)

In [42]:
fortune

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400
...,...,...,...,...,...,...
996,New York Community Bancorp,Financials,Commercial Banks,1902,-47,3448
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,1896,161,21200
1000,Briggs & Stratton,Industrials,Industrial Machinery,1895,46,5480

In [43]:
dt=pd.DataFrame(fortune)
dt

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400
...,...,...,...,...,...,...
996,New York Community Bancorp,Financials,Commercial Banks,1902,-47,3448
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,1896,161,21200
1000,Briggs & Stratton,Industrials,Industrial Machinery,1895,46,5480

In [46]:
dt.groupby("Sector")["Profits"].mean()

Sector
Aerospace & Defense             1437.100000
Apparel                          549.066667
Business Services                553.470588
Chemicals                        754.266667
Energy                          -602.024590
Engineering & Construction       204.000000
Financials                      1872.007194
Food and Drug Stores            1117.266667
Food, Beverages & Tobacco       1195.744186
Health Care                     1414.853333
Hotels, Resturants & Leisure     827.880000
Household Products               515.285714
Industrials                      451.391304
Materials                        102.976744
Media                            973.880000
Motor Vehicles & Parts          1079.083333
Retailing                        597.875000
Technology                      1769.343137
Telecommunications              3242.466667
Transportation                  1226.916667
Wholesalers                      205.825000
Name: Profits, dtype: float64

In [47]:
Sectors=fortune.groupby("Sector")

In [49]:
Sectors

In [50]:
len(Sectors)

21

In [51]:
Sectors.size()

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

In [52]:
Sectors.first()

,Company,Industry,Revenue,Profits,Employees
Sector,,,,,
Aerospace & Defense,Boeing,Aerospace and Defense,96114,5176,161400
Apparel,Nike,Apparel,30601,3273,62600
Business Services,ManpowerGroup,Temporary Help,19330,419,27000
Chemicals,Dow Chemical,Chemicals,48778,7685,49495
Energy,Exxon Mobil,Petroleum Refining,246204,16150,75600
Engineering & Construction,Fluor,"Engineering, Construction",18114,413,38758
Financials,Berkshire Hathaway,Insurance: Property and Casualty (Stock),210821,24083,331000
Food and Drug Stores,CVS Health,Food and Drug Stores,153290,5237,199000
"Food, Beverages & Tobacco",Archer Daniels Midland,Food Production,67702,1849,32300
Health Care,McKesson,Wholesalers: Health Care,181241,1476,70400
"Hotels, Resturants & Leisure",McDonald’s,Food Services,25413,4529,420000
Household Products,Procter & Gamble,Household and Personal Products,78756,7036,110000
Industrials,General Electric,Industrial Machinery,140389,-6126,333000
Materials,Alcoa,Metals,22534,-322,60000
Media,Disney,Entertainment,52465,8382,185000
Motor Vehicles & Parts,General Motors,Motor Vehicles and Parts,152356,9687,215000
Retailing,Walmart,General Merchandisers,482130,14694,2300000
Technology,Apple,"Computers, Office Equipment",233715,53394,110000
Telecommunications,AT&T,Telecommunications,146801,13345,281450
Transportation,UPS,"Mail, Package, and Freight Delivery",58363,4844,341240
Wholesalers,Sysco,Wholesalers: Food and Grocery,48681,687,51700

In [54]:
Sectors.last()

,Company,Industry,Revenue,Profits,Employees
Sector,,,,,
Aerospace & Defense,Delta Tucker Holdings,Aerospace and Defense,1923,-133,12000
Apparel,Guess,Apparel,2204,82,13500
Business Services,DeVry Education Group,Education,1910,140,11770
Chemicals,H.B. Fuller,Chemicals,2084,87,4425
Energy,Portland General Electric,Utilities: Gas and Electric,1898,172,2646
Engineering & Construction,MDC Holdings,Homebuilders,1909,66,1225
Financials,New York Community Bancorp,Commercial Banks,1902,-47,3448
Food and Drug Stores,Fred’s,Food and Drug Stores,2151,-7,7103
"Food, Beverages & Tobacco",Alliance One International,Tobacco,2066,-15,6835
Health Care,Providence Service,Health Care: Pharmacy and Other Services,1987,84,9072
"Hotels, Resturants & Leisure",Wendy’s,Food Services,1896,161,21200
Household Products,Revlon,Household and Personal Products,1914,56,5700
Industrials,Briggs & Stratton,Industrial Machinery,1895,46,5480
Materials,Schnitzer Steel Industries,Metals,1924,-197,2955
Media,Cenveo,"Publishing, Printing",1921,-31,7300
Motor Vehicles & Parts,Allison Transmission Holdings,Motor Vehicles and Parts,1986,182,2700
Retailing,99 Cents Only Stores,Specialty Retailers: Other,1999,-232,18200
Technology,F5 Networks,Network and Other Communications Equipment,1920,365,4178
Telecommunications,Equinix,Telecommunications,2726,188,5042
Transportation,Roadrunner Transportation Systems,Transportation and Logistics,1995,48,4502
Wholesalers,BlueLinx Holdings,Wholesalers: Diversified,1917,-12,1600

In [55]:
Sectors.get_group("Financials")["Revenue"].sum()

np.int64(2217159)

In [57]:
Sectors.get_group("Energy")["Profits"].sum()

np.int64(-73447)

In [58]:
Sectors.get_group("Media")["Profits"].sum()

np.int64(24347)

In [66]:
fortune.groupby(["Industry","Sector"])["Profits"].sum()    # or we could directly group the columns we want from the data

Industry                                       Sector
Advertising, marketing                         Business Services       1549
Aerospace and Defense                          Aerospace & Defense    28742
Airlines                                       Transportation         23800
Apparel                                        Apparel                 8236
Automotive Retailing, Services                 Retailing               2550
                                                                      ...
Waste Management                               Business Services       1718
Wholesalers: Diversified                       Wholesalers             5193
Wholesalers: Electronics and Office Equipment  Wholesalers             1857
Wholesalers: Food and Grocery                  Wholesalers             1166
Wholesalers: Health Care                       Health Care             3361
Name: Profits, Length: 79, dtype: int64

In [73]:
dt.groupby(["Industry","Sector"])["Profits"].sum()    # cuz we have made a data frame for the fortune file

Industry                                       Sector
Advertising, marketing                         Business Services       1549
Aerospace and Defense                          Aerospace & Defense    28742
Airlines                                       Transportation         23800
Apparel                                        Apparel                 8236
Automotive Retailing, Services                 Retailing               2550
                                                                      ...
Waste Management                               Business Services       1718
Wholesalers: Diversified                       Wholesalers             5193
Wholesalers: Electronics and Office Equipment  Wholesalers             1857
Wholesalers: Food and Grocery                  Wholesalers             1166
Wholesalers: Health Care                       Health Care             3361
Name: Profits, Length: 79, dtype: int64

In [69]:
Sectors.get_group("Energy")

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
14,Chevron,Energy,Petroleum Refining,131118,4587,61500
30,Phillips 66,Energy,Petroleum Refining,87169,4227,14000
32,Valero Energy,Energy,Petroleum Refining,81824,3990,10103
42,Marathon Petroleum,Energy,Petroleum Refining,64566,2852,45440
...,...,...,...,...,...,...
981,WPX Energy,Energy,"Mining, Crude-Oil Production",1958,-1727,1040
983,Adams Resources & Energy,Energy,Petroleum Refining,1944,-1,809
995,EP Energy,Energy,"Mining, Crude-Oil Production",1908,-3748,665
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646

In [70]:
Sectors["Revenue"].sum()

Sector
Aerospace & Defense              357940
Apparel                           95968
Business Services                272195
Chemicals                        243897
Energy                          1517809
Engineering & Construction       153983
Financials                      2217159
Food and Drug Stores             483769
Food, Beverages & Tobacco        555967
Health Care                     1614707
Hotels, Resturants & Leisure     169546
Household Products               234737
Industrials                      497581
Materials                        259145
Media                            220764
Motor Vehicles & Parts           482540
Retailing                       1465076
Technology                      1377600
Telecommunications               461834
Transportation                   408508
Wholesalers                      444800
Name: Revenue, dtype: int64

In [72]:
Sectors.agg({"Employees":"sum","Profits":"mean"})

                              Employees      Profits
Sector
Aerospace & Defense              968057  1437.100000
Apparel                          346397   549.066667
Business Services               1361050   553.470588
Chemicals                        463651   754.266667
Energy                          1188927  -602.024590
Engineering & Construction       406708   204.000000
Financials                      3359948  1872.007194
Food and Drug Stores            1395398  1117.266667
Food, Beverages & Tobacco       1211632  1195.744186
Health Care                     2678289  1414.853333
Hotels, Resturants & Leisure    2484245   827.880000
Household Products               646038   515.285714
Industrials                     1545229   451.391304
Materials                        638123   102.976744
Media                            550314   973.880000
Motor Vehicles & Parts          1082560  1079.083333
Retailing                       6227629   597.875000
Technology                      3578949  1769.343137
Telecommunications               832468  3242.466667
Transportation                  1536793  1226.916667
Wholesalers                      525597   205.825000